body {
    font-size: 200%;
    background-image: url(https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/14102293_954547158004102_2562152360559837574_n.jpg?oh=aaf11f5fb12ee2514b5775a41be760f1&oe=594987F6);
}

.heading {
    color: #924;
    font-size: 115%;
    text-align: center;
}

#titulo {
    font-family: Pacifico;
}

#eslogan {
    border: 7px double rgba(0, 0, 0, 1);
    font-family: "Open Sans";
    background-color: #924;
    color: #ddd;
}

.redes {
    border-radius: 100%;
    position: relative;
    top: 20px;
}

.titulo {
    margin: 0;
    background-color: #924;
    border: 3px solid black;
    text-align: center;
}

.telefono {
    background-color: #924;
    border: 4px dotted;
}

li {
    text-align: center;
}

.contacto {
    display: inline-block;
    /*position: relative;
    top: 10px;
    */
}

.productos {
    background-color: #924;
    display: inline-block;
}

#foto {
    display: inline-block;
    size: 45%;
    border: solid 1px blue;
}